html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}
:root {
		--fs: 18px;
		--size: 1.3em;
}
@media (prefers-color-scheme: dark) {
	:root,
	libli-dom {
		--c-fg: white;
		--c-bg: black;
		--c-bg--contrast: slategray;
		--c-link: turquoise;
	}
}
@media (prefers-color-scheme: light) {
	:root,
	libli-dom {
		--c-fg: black;
		--c-bg: white;
		--c-bg--contrast: slategray;
		--c-link: cyan;
	}
}

:root {
	font-size: var(--fs);
	background-color: var(--c-bg);
	color: var(--c-fg);
}

libli-dom {
	display: flex;
}
